body {
	color: green;
	max-width: 1920px;
    background-color: #fff;
    margin: 0 auto;
}
.wrapper {
    margin: 30px 7.83%;
	
}
.header{
    overflow: hidden;
}
.Logo {
    width: 95%;
    float: left;

	img {
        width: 200px;        
    }
}
.font{
    float: right;
    width: 5%;
}
.main{
    margin-top: 120px;
}
.title{
    width: 45%;
    float: left;
    span{
        font-size: 60px;
    }

}
.main{
    overflow: hidden;
}
.macbook{
    width: 55%;
    height: 400px;
    margin: 0 auto;
    float: left;
    position: relative;
    div{
        width: 450px;
        margin: 0 auto;
        height: 300px;
        video{
            position: absolute;
            padding: 100px 100px;
            top: inherit;
            width: 90%;
        }
    }
}
.footer{
    
    overflow: hidden;
    font-size: 32px;
    
    div {
        color: white;
        margin: 50px 0;
        width: 45%;
        height: 100px;
        text-align: center;
        padding-top: 90px;
        box-shadow: 2px 10px 10px rgba(0,0,0,0.6);
        span{
            display:none;
            font-size: 16px;
            margin-top: 5px;
        }
        
    }
    div:hover {
        
        transition : 0.4s all;
        box-shadow: 1px 20px 10px rgba(0,0,0,0.6);
        margin: 40px 0;
        span{
            display: block;
        }
       
    }
    
}
.ad__left{
    background-image: url(/img/img-button-1.png);
    float: left;
}
.ad__right{
    background-image: url(/img/img-button-2.png);
    background-size: cover;
    float: right;   
}



    


