body {
	color: green;
	max-width: 1920px;
    background-color: #fff;
    margin: 0 auto;
}
.wrapper {
    margin: 30px 7.83%;
	
}
.header{
    overflow: hidden;
}
.Logo {
    width: 95%;
    float: left;

	img {
        width: 200px;        
    }
}
.font{
    float: right;
    width: 5%;
}
.main{
    margin-top: 120px;
}
.title{
    width: 45%;
    float: left;
    span{
        font-size: 60px;
    }

}
.macbook{
    div{
        width: 450px;
        margin: 0 auto;
        height: 300px;
    }
    width: 55%;
    height: 350px;
    margin: 0 auto;
    float: left;
}
.parallax-1{ 
    background-image: url('/img/img-parallax-1.png');
    background-size: cover;
    video{
        padding: 63px 77px;
    }
}
.parallax-2{
    background-image: url('/img/img-parallax-2.png');
    background-size: cover;
}
.parallax-3{
    background-image: url('/img/img-parallax-3.png');
    background-size: cover;
}
.parallax-4{
    background-image: url('/img/img-parallax-4.png');
    background-size: cover;
    
}

.parallax {
    position: absolute;
    width: 100%;
    height: 800px;
    overflow: hidden;
    left: 0;
}
.water {
    position: absolute;
    width: 100%;
    height: 800px;
    left:0;
    background-repeat: no-repeat;
    background-position: top center;
}
.water-layer1 {
    background-image: url(http://elikirk.com/demos/liquipel/images/water-layer-1.png);
}
.water-layer2 {
    background-image: url(http://elikirk.com/demos/liquipel/images/water-layer-2.png);
}
.water-layer3 {
    background-image: url(http://elikirk.com/demos/liquipel/images/water-layer-3.png);
}
.water-layer4 {
    background-image: url(http://elikirk.com/demos/liquipel/images/water-layer-4.png);
}
